.small12 {
    font-size: 12px;
}

.small14 {
    font-size: 12px;
}

.upper {
    text-transform: uppercase;
}

.lower {
    text-transform: lowercase;
}

.fw200 {
    font-weight: 200;
}

.fw300 {
    font-weight: 300;
}

.fz28 {
    font-size: 28px;
}

.fz26 {
    font-size: 26px;
}

.fz24 {
    font-size: 24px;
}

.fz22 {
    font-size: 22px;
}

.fz20 {
    font-size: 20px;
}
