.m-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $padding/2 $padding;
    color: $color-white;
    /*border-radius: 4px;*/
    min-width: 50px;
    height: 100%;
    width: 100%;
    user-select: none;
    cursor: pointer;
    background-color: #7f828b;
    transition: 0.3s;
}

.m-btn:hover {
    background-color: $color-alt-hover;
}

.material-icons {
    margin-right: 8px;
}

.disabled {
    pointer-events: none;
    background-color: #aeaeae;
}
